<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-group"> 
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :location %>
    <%= f.input :city %>
    <%= f.hidden_field :user_id %> 
  </div>

  
  <%= f.fields_for :photo do |p| %>
     <div class="field">
       <%= p.label :photo %><br>
       <%= p.file_field :photo, :multiple => true, name: "photos[photo][]" %>
     </div>
   <% end %>

   <% if params[:action] == "edit" %> 
     <% @event.photos.each do |p| %>
       <%= image_tag p.photo, :size => "150x150" %>
       <%= link_to "Destroy", p, method: :delete %>
     <% end %>
   <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
